<style>
  .no-scrollbar {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>


<!-- Seccion de Informacion de la comunidad -->

<article class="pb-10 space-y-5 border-b border-b-gray-500">
  <div class="flex items-center justify-between">
    <h1 class="font-semibold">Informacion</h1>
    <a routerLink="/ciudadano/comunidad/1/informacion" class="text-sm text-primary-light">Ver más</a>
  </div>

  <a routerLink="/ciudadano/perfil/1"
    class="p-4 focus:bg-primary focus:text-white rounded-xl gap-x-4 bg-secondary text-sm grid grid-cols-[auto_1fr] items-center">
    <div class="row-span-2 bg-gray-300 rounded-full size-10"></div>
    <p>Fernado Ignacio Diaz Sanchez</p>
    <p class="text-xs font-semibold text-gray-300 uppercase">Jefe de Comunidad</p>
  </a>

</article>



<!-- Seccion de notas -->
<article class="py-5 pb-10 space-y-5 border-b border-b-gray-500">

  <h1 class="font-semibold">Recordatorios</h1>

  <div class="flex overflow-y-auto gap-x-3 no-scrollbar">

    <a routerLink="/ciudadano/comunidad/1/post/1" class="w-full h-full px-4 py-3 space-y-2 rounded-lg min-w-60 max-h-56 bg-secondary">
      <div class="space-y-2">
        <h1 class="font-semibold">Reunión mensual</h1>
        <p class="text-xs text-gray-300">Reunión de vecinos para discturi medidas de seguridad.</p>
      </div>

      <div class="flex items-center justify-between my-5">
        <a routerLink="" class="flex items-center text-xs gap-x-1" title="Comentarios">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-message-circle text-primary-light size-4">
            <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
          </svg>
          <p>6</p>
        </a>
        <p class="text-xs text-gray-300">9/11/2024 - 19:53</p>

      </div>
    </a>

    <a routerLink="/ciudadano/comunidad/1/post/1" class="w-full h-full px-4 py-3 space-y-2 rounded-lg min-w-60 max-h-56 bg-secondary">
      <div class="space-y-2">
        <h1 class="font-semibold">Reunión mensual</h1>
        <p class="text-xs text-gray-300">Reunión de vecinos para discturi medidas de seguridad.</p>
      </div>

      <div class="flex items-center justify-between my-5">
        <a routerLink="" class="flex items-center text-xs gap-x-1" title="Comentarios">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-message-circle text-primary-light size-4">
            <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
          </svg>
          <p>6</p>
        </a>
        <p class="text-xs text-gray-300">9/11/2024 - 19:53</p>
      </div>
    </a>

    <a routerLink="/ciudadano/comunidad/1/post/1" class="w-full h-full px-4 py-3 space-y-2 rounded-lg min-w-60 max-h-56 bg-secondary">
      <div class="space-y-2">
        <h1 class="font-semibold">Reunión mensual</h1>
        <p class="text-xs text-gray-300">Reunión de vecinos para discturi medidas de seguridad.</p>
      </div>

      <div class="flex items-center justify-between my-5">
        <a routerLink="" class="flex items-center text-xs gap-x-1" title="Comentarios">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-message-circle text-primary-light size-4">
            <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
          </svg>
          <p>6</p>
        </a>
        <p class="text-xs text-gray-300">9/11/2024 - 19:53</p>
      </div>
    </a>
  </div>
</article>


<!-- Seccion noticias -->

<article class="">

  <section class="flex items-center justify-between py-3">
    <div>
      <h1 class="font-semibold">Noticias de Seguridad</h1>
      <p class="text-xs text-gray-400">ültimas actualizaciones de tu comunidad</p>
    </div>
    <a routerLink="post/1" class="rounded-full p-0.5 focus:text-primary-light">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-chevron-right">
        <path d="m9 18 6-6-6-6" />
      </svg>
    </a>
  </section>

  <section class="h-full bg-white rounded-xl max-h-56">
    <img
      src="https://ojo-publico.com/sites/default/files/styles/imagen_745x419/public/2024-03/000921495W.jpg?h=99795127&itok=2r_nviKX"
      alt="" class="object-cover h-full rounded-xl">
  </section>

  <section class="flex items-center my-4 text-xs text-gray-400 gap-x-2">
    <div class="bg-gray-300 rounded-full size-7">
      <img src="" alt="">
    </div>
    <p>Fernando Díaz</p> <span>*</span>
    <p>Hace 2 horas</p>
  </section>

  <section>
    <h2 class="font-semibold">Robo en la Calle 5</h2>
    <p class="text-xs text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
  </section>

  <section class="flex items-center justify-between my-4">
    <a routerLink="" class="flex items-center text-sm gap-x-1" title="Comentarios">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-message-circle text-primary-light size-6">
        <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
      </svg>
      <p>96</p>
    </a>

    <div class="flex items-center gap-x-5">
      <!-- <button>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-triangle-alert text-primary-light size-6">
        <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3" />
        <path d="M12 9v4" />
        <path d="M12 17h.01" />
      </svg>
    </button> -->

      <button>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-bookmark text-primary-light size-6">
          <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
        </svg>
      </button>
    </div>

  </section>
</article>


<section class="fixed flex justify-end w-full bottom-24 right-10">

  <div class="hs-dropdown relative [--placement:top-left] inline-flex">
    <button id="hs-dropup" aria-label="Dropdown" area-expanded="false"
      class="p-2 text-sm text-white rounded-full hs-dropdown-toggle bg-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-plus size-8">
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>
    </button>

    <div
      class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 shadow-md rounded-lg mt-2 bg-secondary"
      role="menu" aria-orientation="vertical" aria-labelledby="hs-dropup">
      <div class="p-1 space-y-0.5">
        <a class="flex items-center px-3 py-2 text-sm rounded-lg gap-x-3 focus:outline-none text-neutral-300 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
          routerLink="post/generar">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-pencil text-primary-light size-4">
            <path
              d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
            <path d="m15 5 4 4" />
          </svg>
          Realizar publicación
        </a>

        <a class="flex items-center px-3 py-2 text-sm rounded-lg gap-x-3 focus:outline-none text-neutral-300 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
          routerLink="chat">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-message-circle text-primary-light size-4">
            <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
          </svg>
          Chat de Comunidad
        </a>
      </div>
    </div>
  </div>

</section>
