<style>
  .links {
    padding: 0.5rem 1rem;
    color: #9ca3af;
    border-radius: 9999px;
    background-color: #261A18;
    text-wrap: nowrap;
    order: 2;
  }

  .active {
    color:  white;
    background-color: var(--color-primary);
    order: 1;
  }

  .no-scrollbar {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>



<div class="">
  <section class="grid items-center grid-flow-col p-5 overflow-x-auto text-sm gap-x-2 no-scrollbar">
    <a routerLink="/ciudadano/comunidad/1/feed" routerLinkActive="active" class="links">General</a>
    <a routerLink="/ciudadano/comunidad/1/alertas" routerLinkActive="active" class="links">Alertas</a>
    <a routerLink="/ciudadano/comunidad/1/denuncias" routerLinkActive="active" class="links">Denuncias</a>
    <a routerLink="/ciudadano/comunidad/1/recordatorios" routerLinkActive="active" class="links">Recordatorios</a>
    <a routerLink="/ciudadano/comunidad/1/publicaciones" routerLinkActive="active" class="links">Publicaciones</a>
    <a routerLink="/ciudadano/comunidad/1/contactos" routerLinkActive="active" class="links">Teléfonos de Seguridad</a>
    <a routerLink="/ciudadano/comunidad/1/informacion" routerLinkActive="active" class="links">Información</a>
  </section>

  <section>
    <router-outlet></router-outlet>
  </section>
</div>
