<section class="">
  <a routerLink="/ciudadano/comunidad/1/alertas/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
    <div class="row-span-2 bg-gray-300 rounded-full size-14">
      <img class="object-cover h-full rounded-full" src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj" alt="">
    </div>
    <div class="flex items-center justify-between text-sm gap-x-2">
      <p class="font-semibold truncate">Miguel Ángel Duran</p>
      <p class="text-gray-400">02:51 PM</p>
    </div>
    <p class="text-sm text-white truncate">Reportó una alerta cerca a tu zona. Mantente en un lugar seguro</p>
  </a>

  <a routerLink="/ciudadano/comunidad/1/alertas/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
    <div class="row-span-2 bg-gray-300 rounded-full size-14">
      <img class="object-cover h-full rounded-full" src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj" alt="">
    </div>
    <div class="flex items-center justify-between text-sm gap-x-2">
      <p class="font-semibold truncate">Miguel Ángel Duran</p>
      <p class="text-gray-400">02:51 PM</p>
    </div>
    <p class="text-sm text-white truncate">Reportó una alerta cerca a tu zona. Mantente en un lugar seguro</p>
  </a>

  <a routerLink="/ciudadano/comunidad/1/alertas/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
    <div class="row-span-2 bg-gray-300 rounded-full size-14">
      <img class="object-cover h-full rounded-full" src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj" alt="">
    </div>
    <div class="flex items-center justify-between text-sm gap-x-2">
      <p class="font-semibold truncate">Miguel Ángel Duran</p>
      <p class="text-gray-400">02:51 PM</p>
    </div>
    <p class="text-sm text-white truncate">Reportó una alerta cerca a tu zona. Mantente en un lugar seguro</p>
  </a>

  <a routerLink="/ciudadano/comunidad/1/alertas/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
    <div class="row-span-2 bg-gray-300 rounded-full size-14">
      <img class="object-cover h-full rounded-full" src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj" alt="">
    </div>
    <div class="flex items-center justify-between text-sm gap-x-2">
      <p class="font-semibold truncate">Miguel Ángel Duran</p>
      <p class="text-gray-400">02:51 PM</p>
    </div>
    <p class="text-sm text-white truncate">Reportó una alerta cerca a tu zona. Mantente en un lugar seguro</p>
  </a>

  <a routerLink="/ciudadano/comunidad/1/alertas/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
    <div class="row-span-2 bg-gray-300 rounded-full size-14">
      <img class="object-cover h-full rounded-full" src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj" alt="">
    </div>
    <div class="flex items-center justify-between text-sm gap-x-2">
      <p class="font-semibold truncate">Miguel Ángel Duran</p>
      <p class="text-gray-400">02:51 PM</p>
    </div>
    <p class="text-sm text-white truncate">Reportó una alerta cerca a tu zona. Mantente en un lugar seguro</p>
  </a>



</section>
