<style>
  .links {
    padding: 0.5rem 1rem;
    color: #9ca3af;
    border-radius: 9999px;
    background-color: #261A18;
    text-wrap: nowrap;
    order: 2;
    width: fit-content;
  }

  .active {
    color: white;
    background-color: var(--color-primary);
    order: 1;
  }

  .no-scrollbar {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>



<div class="">
  <section class="grid items-center grid-flow-col p-5 overflow-x-auto text-sm w-fit gap-x-2 no-scrollbar">

    <a routerLink="/ciudadano/notificaciones/todas" routerLinkActive="active"class="links">Todas</a>
    <a routerLink="/ciudadano/notificaciones/comunidad" routerLinkActive="active" class="links">Comunidad</a>
    <a routerLink="/ciudadano/notificaciones/alertas" routerLinkActive="active" class="links">Alertas</a>
  </section>

  <section>
    <router-outlet></router-outlet>
  </section>
</div>
