<div class="py-5 space-y-10 ">

  <section class="flex items-center px-5 overflow-y-auto gap-x-3">
    <button class="px-4 py-2 text-sm border-0 rounded-full tex-twhite bg-primary">
      Todas
    </button>
    <button class="px-4 py-2 text-sm border-0 rounded-full tex-twhite bg-secondary">
      Comunidad
    </button>
    <button class="px-4 py-2 text-sm border-0 rounded-full tex-twhite bg-secondary">
      Alertas
    </button>
  </section>

  <section class="">
    <a routerLink="../denuncias/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
      <div class="row-span-2 bg-gray-300 rounded-full size-14">
        <img src="" alt="">
      </div>
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Miguel Ángel Duran</p>
        <p class="text-gray-400">02:51 PM</p>
      </div>
      <p class="text-sm text-white truncate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quisquam ut dolorum, dicta, amet consequuntur vel porro iste laborum modi voluptatum? Reiciendis molestias fugiat facilis necessitatibus non? Iusto, est itaque.</p>
    </a>

    <a routerLink="../denuncias/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
      <div class="row-span-2 bg-gray-300 rounded-full size-14">
        <img src="" alt="">
      </div>
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Miguel Ángel Duran</p>
        <p class="text-gray-400">02:51 PM</p>
      </div>
      <p class="text-sm text-white truncate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quisquam ut dolorum, dicta, amet consequuntur vel porro iste laborum modi voluptatum? Reiciendis molestias fugiat facilis necessitatibus non? Iusto, est itaque.</p>
    </a>

    <a routerLink="../denuncias/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
      <div class="row-span-2 bg-gray-300 rounded-full size-14">
        <img src="" alt="">
      </div>
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Miguel Ángel Duran</p>
        <p class="text-gray-400">02:51 PM</p>
      </div>
      <p class="text-sm text-white truncate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quisquam ut dolorum, dicta, amet consequuntur vel porro iste laborum modi voluptatum? Reiciendis molestias fugiat facilis necessitatibus non? Iusto, est itaque.</p>
    </a>

    <a routerLink="../denuncias/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
      <div class="row-span-2 bg-gray-300 rounded-full size-14">
        <img src="" alt="">
      </div>
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Miguel Ángel Duran</p>
        <p class="text-gray-400">02:51 PM</p>
      </div>
      <p class="text-sm text-white truncate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quisquam ut dolorum, dicta, amet consequuntur vel porro iste laborum modi voluptatum? Reiciendis molestias fugiat facilis necessitatibus non? Iusto, est itaque.</p>
    </a>


    <a routerLink="../denuncias/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
      <div class="row-span-2 bg-gray-300 rounded-full size-14">
        <img src="" alt="">
      </div>
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Miguel Ángel Duran</p>
        <p class="text-gray-400">02:51 PM</p>
      </div>
      <p class="text-sm text-white truncate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quisquam ut dolorum, dicta, amet consequuntur vel porro iste laborum modi voluptatum? Reiciendis molestias fugiat facilis necessitatibus non? Iusto, est itaque.</p>
    </a>

    <a routerLink="../denuncias/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
      <div class="row-span-2 bg-gray-300 rounded-full size-14">
        <img src="" alt="">
      </div>
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Miguel Ángel Duran</p>
        <p class="text-gray-400">02:51 PM</p>
      </div>
      <p class="text-sm text-white truncate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quisquam ut dolorum, dicta, amet consequuntur vel porro iste laborum modi voluptatum? Reiciendis molestias fugiat facilis necessitatibus non? Iusto, est itaque.</p>
    </a>

    <a routerLink="../denuncias/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
      <div class="row-span-2 bg-gray-300 rounded-full size-14">
        <img src="" alt="">
      </div>
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Miguel Ángel Duran</p>
        <p class="text-gray-400">02:51 PM</p>
      </div>
      <p class="text-sm text-white truncate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quisquam ut dolorum, dicta, amet consequuntur vel porro iste laborum modi voluptatum? Reiciendis molestias fugiat facilis necessitatibus non? Iusto, est itaque.</p>
    </a>

    <a routerLink="../denuncias/1" class="grid grid-cols-[auto_1fr] px-5 border focus:border-primary border-transparent rounded-xl py-4 gap-x-5 gap-y-2">
      <div class="row-span-2 bg-gray-300 rounded-full size-14">
        <img src="" alt="">
      </div>
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Miguel Ángel Duran</p>
        <p class="text-gray-400">02:51 PM</p>
      </div>
      <p class="text-sm text-white truncate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quisquam ut dolorum, dicta, amet consequuntur vel porro iste laborum modi voluptatum? Reiciendis molestias fugiat facilis necessitatibus non? Iusto, est itaque.</p>
    </a>

  </section>

</div>
