<section class="py-5 space-y-3 border-b border-b-gray-500">
  <h1 class="text-xl font-semibold">Robo en la Calle 5</h1>
  <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, ratione ad.
    Dolorem quas obcaecati laborum illum
    ratione fuga expedita a et, sequi veniam. Similique omnis accusamus, sapiente qui facilis officia!</p>

  <div class="w-full bg-secondary rounded-xl h-96">
    <img
      src="https://ojo-publico.com/sites/default/files/styles/imagen_745x419/public/2024-03/000921495W.jpg?h=99795127&itok=2r_nviKX"
      alt="" class="object-cover h-full rounded-xl">
  </div>

  <div class="flex items-center justify-end gap-x-5">
    <button aria-haspopup="dialog" aria-expanded="false" aria-controls="compartir-modal"
      data-hs-overlay="#compartir-modal" class="text-sm text-primary-light">Compartir</button>

      <div id="compartir-modal"
      class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
      role="dialog" tabindex="-1" aria-labelledby="hs-scale-animation-modal-label">
      <div
        class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
        <div
          class="flex flex-col w-full px-5 space-y-3 border shadow-sm pointer-events-auto rounded-xl bg-neutral-800 border-neutral-700 shadow-neutral-700/70">
          <div class="flex items-center justify-between py-5">
            <h3 id="hs-scale-animation-modal-label" class="flex flex-col justify-center w-full py-5 text-lg text-center text-white gap-y-3">
              <div class="flex items-center justify-center w-full p-1 text-center text-blue-500 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-check">
                  <path d="M20 6 9 17l-5-5" />
                </svg>
              </div>
              Enlace copiado en el portapepeles.
            </h3>
          </div>
        </div>
      </div>
    </div>


    <button aria-haspopup="dialog" aria-expanded="false" aria-controls="reportar-modal"
      data-hs-overlay="#reportar-modal" class="text-sm text-primary-light">Reportar post</button>

    <div id="reportar-modal"
      class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
      role="dialog" tabindex="-1" aria-labelledby="hs-scale-animation-modal-label">
      <div
        class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
        <div
          class="flex flex-col w-full px-5 space-y-3 border shadow-sm pointer-events-auto rounded-xl bg-neutral-800 border-neutral-700 shadow-neutral-700/70">
          <div class="flex items-center justify-between pt-5">
            <h3 id="hs-scale-animation-modal-label" class="w-full text-lg text-center text-white">
              ¿Está seguro que quiere reportar este post?
            </h3>
          </div>
          <div class="flex items-center justify-center px-4 py-3 pb-5 gap-x-2 ">
            <button type="button" class="text-sm font-semibold btn-primary rounded-xl"
              data-hs-overlay="#reporte-successfull-modal">
              Reportar
            </button>
            <button type="button" class="text-sm font-semibold btn-secondary rounded-xl"
              data-hs-overlay="#reportar-modal">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="reporte-successfull-modal"
      class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none"
      role="dialog" tabindex="-1" aria-labelledby="hs-scale-animation-modal-label">
      <div
        class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-lg sm:w-full m-3 sm:mx-auto min-h-[calc(100%-3.5rem)] flex items-center">
        <div
          class="flex flex-col w-full px-5 space-y-3 border shadow-sm pointer-events-auto rounded-xl bg-neutral-800 border-neutral-700 shadow-neutral-700/70">
          <div class="flex items-center justify-between py-5">
            <h3 id="hs-scale-animation-modal-label" class="flex flex-col justify-center w-full py-5 text-lg text-center text-white gap-y-3">
              <div class="flex items-center justify-center w-full p-1 text-center text-blue-500 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-check">
                  <path d="M20 6 9 17l-5-5" />
                </svg>
              </div>
              Reporte exitoso.

            </h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="py-5 space-y-5">
  <h1 class="text-xl font-semibold">Comentarios (5)</h1>

  <div class="grid grid-cols-[auto_1fr] gap-y-2 gap-x-3 border-b border-b-gray-400 pb-5">
    <a routerLink="/ciudadano/perfil/1" class="row-span-2 rounded-full bg-secondary size-10">
      <img src="" alt="">
    </a>
    <div class="flex items-center gap-x-3">
      <a routerLink="/ciudadano/perfil/1" class="text-sm font-semibold">Migel Anguel Durán </a>
      <p class="text-xs text-gray-400">Hace 2 horas</p>
    </div>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum porro iste reiciendis
      quasi
      voluptatibus quae aperiam sit alias qui debitis culpa reprehenderit, iusto quaerat quisquam quam veniam!
      Repellendus, cum?</p>
  </div>

  <div class="grid grid-cols-[auto_1fr] gap-y-2 gap-x-3 border-b border-b-gray-400 pb-5">
    <a routerLink="/v/perfil/1" class="row-span-2 rounded-full bg-secondary size-10">
      <img src="" alt="">
    </a>
    <div class="flex items-center gap-x-3">
      <a routerLink="/ciudadano/perfil/1" class="text-sm font-semibold">Migel Anguel Durán </a>
      <p class="text-xs text-gray-400">Hace 2 horas</p>
    </div>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum porro iste reiciendis
      quasi
      voluptatibus quae aperiam sit alias qui debitis culpa reprehenderit, iusto quaerat quisquam quam veniam!
      Repellendus, cum?</p>
  </div>

  <div class="grid grid-cols-[auto_1fr] gap-y-2 gap-x-3 border-b border-b-gray-400 pb-5">
    <a routerLink="/ciudadano/perfil/1" class="row-span-2 rounded-full bg-secondary size-10">
      <img src="" alt="">
    </a>
    <div class="flex items-center gap-x-3">
      <a routerLink="/ciudadano/perfil/1" class="text-sm font-semibold">Migel Anguel Durán </a>
      <p class="text-xs text-gray-400">Hace 2 horas</p>
    </div>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum porro iste reiciendis
      quasi
      voluptatibus quae aperiam sit alias qui debitis culpa reprehenderit, iusto quaerat quisquam quam veniam!
      Repellendus, cum?</p>
  </div>

  <div class="grid grid-cols-[auto_1fr] gap-y-2 gap-x-3 border-b border-b-gray-400 pb-5">
    <a routerLink="/comunidad/perfil/1" class="row-span-2 rounded-full bg-secondary size-10">
      <img src="" alt="">
    </a>
    <div class="flex items-center gap-x-3">
      <a routerLink="/ciudadano/perfil/1" class="text-sm font-semibold">Miguel Anguel Durán </a>
      <p class="text-xs text-gray-400">Hace 2 horas</p>
    </div>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum porro iste reiciendis
      quasi
      voluptatibus quae aperiam sit alias qui debitis culpa reprehenderit, iusto quaerat quisquam quam veniam!
      Repellendus, cum?</p>
  </div>
  <div class="grid grid-cols-[auto_1fr] gap-y-2 gap-x-3 pb-5">
    <a routerLink="/ciudadano/perfil/1" class="row-span-2 rounded-full bg-secondary size-10">
      <img src="" alt="">
    </a>
    <div class="flex items-center gap-x-3">
      <a routerLink="/ciudadano/perfil/1" class="text-sm font-semibold">Migel Anguel Durán </a>
      <p class="text-xs text-gray-400">Hace 2 horas</p>
    </div>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum porro iste reiciendis
      quasi
      voluptatibus quae aperiam sit alias qui debitis culpa reprehenderit, iusto quaerat quisquam quam veniam!
      Repellendus, cum?</p>
  </div>

  <div class="fixed flex items-center justify-end w-full py-5 mx-4 gap-x-3 end-0 bottom-20 bg-background">
    <input type="text"
      class="relative text-sm text-white border rounded-full w-[19rem] btn-secondary placeholder:text-gray-300 focus:border-primary focus:ring-primary"
      placeholder="Agrega un comentario">

    <button class="text-sm text-primary-light">Comentar</button>
  </div>
</section>
