<section class="py-5 space-y-3 border-b border-b-gray-500">
  <h1 class="text-xl font-semibold">Robo en la Calle 5</h1>
  <p class="text-sm text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, ratione ad.
    Dolorem quas obcaecati laborum illum
    ratione fuga expedita a et, sequi veniam. Similique omnis accusamus, sapiente qui facilis officia!</p>

  <div class="w-full bg-secondary rounded-xl h-96">
    <img
      src="https://ojo-publico.com/sites/default/files/styles/imagen_745x419/public/2024-03/000921495W.jpg?h=99795127&itok=2r_nviKX"
      alt="" class="object-cover h-full rounded-xl">
  </div>

  <div class="flex items-center justify-end gap-x-5">
    <a routerLink="" class="text-sm text-primary-light">Compartir</a>
    <a routerLink="" class="text-sm text-primary-light">Reportar post</a>
  </div>
</section>

<section class="py-5 space-y-5">
  <h1 class="text-xl font-semibold">Comentarios (5)</h1>

  <div class="grid grid-cols-[auto_1fr] gap-y-2 gap-x-3 border-b border-b-gray-400 pb-5">
    <a routerLink="/comunidad/perfil/1" class="row-span-2 rounded-full bg-secondary size-10">
      <img src="" alt="">
    </a>
    <div class="flex items-center gap-x-3">
      <a routerLink="/comunidad/perfil/1" class="text-sm font-semibold">Migel Anguel Durán </a>
      <p class="text-xs text-gray-400">Hace 2 horas</p>
    </div>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum porro iste reiciendis
      quasi
      voluptatibus quae aperiam sit alias qui debitis culpa reprehenderit, iusto quaerat quisquam quam veniam!
      Repellendus, cum?</p>
  </div>

  <div class="grid grid-cols-[auto_1fr] gap-y-2 gap-x-3 border-b border-b-gray-400 pb-5">
    <a routerLink="/comunidad/perfil/1" class="row-span-2 rounded-full bg-secondary size-10">
      <img src="" alt="">
    </a>
    <div class="flex items-center gap-x-3">
      <a routerLink="/comunidad/perfil/1" class="text-sm font-semibold">Migel Anguel Durán </a>
      <p class="text-xs text-gray-400">Hace 2 horas</p>
    </div>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum porro iste reiciendis
      quasi
      voluptatibus quae aperiam sit alias qui debitis culpa reprehenderit, iusto quaerat quisquam quam veniam!
      Repellendus, cum?</p>
  </div>

  <div class="grid grid-cols-[auto_1fr] gap-y-2 gap-x-3 border-b border-b-gray-400 pb-5">
    <a routerLink="/comunidad/perfil/1" class="row-span-2 rounded-full bg-secondary size-10">
      <img src="" alt="">
    </a>
    <div class="flex items-center gap-x-3">
      <a routerLink="/comunidad/perfil/1" class="text-sm font-semibold">Migel Anguel Durán </a>
      <p class="text-xs text-gray-400">Hace 2 horas</p>
    </div>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum porro iste reiciendis
      quasi
      voluptatibus quae aperiam sit alias qui debitis culpa reprehenderit, iusto quaerat quisquam quam veniam!
      Repellendus, cum?</p>
  </div>

  <div class="grid grid-cols-[auto_1fr] gap-y-2 gap-x-3 border-b border-b-gray-400 pb-5">
    <a routerLink="/comunidad/perfil/1" class="row-span-2 rounded-full bg-secondary size-10">
      <img src="" alt="">
    </a>
    <div class="flex items-center gap-x-3">
      <a routerLink="/comunidad/perfil/1" class="text-sm font-semibold">Migel Anguel Durán </a>
      <p class="text-xs text-gray-400">Hace 2 horas</p>
    </div>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum porro iste reiciendis
      quasi
      voluptatibus quae aperiam sit alias qui debitis culpa reprehenderit, iusto quaerat quisquam quam veniam!
      Repellendus, cum?</p>
  </div>
  <div class="grid grid-cols-[auto_1fr] gap-y-2 gap-x-3 pb-5">
    <a routerLink="/comunidad/perfil/1" class="row-span-2 rounded-full bg-secondary size-10">
      <img src="" alt="">
    </a>
    <div class="flex items-center gap-x-3">
      <a routerLink="/comunidad/perfil/1" class="text-sm font-semibold">Migel Anguel Durán </a>
      <p class="text-xs text-gray-400">Hace 2 horas</p>
    </div>
    <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolorum porro iste reiciendis
      quasi
      voluptatibus quae aperiam sit alias qui debitis culpa reprehenderit, iusto quaerat quisquam quam veniam!
      Repellendus, cum?</p>
  </div>

  <div class="fixed flex justify-end w-full py-5 mx-4 end-0 bottom-20 bg-background">
    <input type="text"
      class="relative text-sm text-white border rounded-full w-96 btn-secondary placeholder:text-gray-300 focus:border-primary focus:ring-primary"
      placeholder="Agrega un comentario">
  </div>
</section>
