<div class="space-y-10 ">

  <section class="">
    <a routerLink="../recordatorios/1"
      class="flex flex-col px-5 py-5 border border-transparent focus:border-primary rounded-xl gap-x-5 gap-y-2">
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Reunión Semanal de Comunidad</p>
        <p class="text-gray-400 text-nowrap">Hoy - 06:00 PM</p>
      </div>
      <p class="text-sm text-gray-400">
        Se programó una reunión de comunidad. TEMA A TRATAR: Normas de Comunidad</p>
    </a>

    <a routerLink="../recordatorios/1"
      class="flex flex-col px-5 py-5 border border-transparent focus:border-primary rounded-xl gap-x-5 gap-y-2">
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Reunión Semanal de Comunidad</p>
        <p class="text-gray-400 text-nowrap">Ayer - 06:00 PM</p>
      </div>
      <p class="text-sm text-gray-400">
        Se programó una reunión de comunidad. TEMA A TRATAR: Normas de Comunidad</p>
    </a>

    <a routerLink="../recordatorios/1"
      class="flex flex-col px-5 py-5 border border-transparent focus:border-primary rounded-xl gap-x-5 gap-y-2">
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Reunión Semanal de Comunidad</p>
        <p class="text-gray-400 text-nowrap">Ayer - 06:00 PM</p>
      </div>
      <p class="text-sm text-gray-400">
        Se programó una reunión de comunidad. TEMA A TRATAR: Normas de Comunidad</p>
    </a>

    <a routerLink="../recordatorios/1"
      class="flex flex-col px-5 py-5 border border-transparent focus:border-primary rounded-xl gap-x-5 gap-y-2">
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Reunión Semanal de Comunidad</p>
        <p class="text-gray-400 text-nowrap">12/11/24 - 06:00 PM</p>
      </div>
      <p class="text-sm text-gray-400">
        Se programó una reunión de comunidad. TEMA A TRATAR: Normas de Comunidad</p>
    </a>

    <a routerLink="../recordatorios/1"
      class="flex flex-col px-5 py-5 border border-transparent focus:border-primary rounded-xl gap-x-5 gap-y-2">
      <div class="flex items-center justify-between text-sm gap-x-2">
        <p class="font-semibold truncate">Reunión Semanal de Comunidad</p>
        <p class="text-gray-400 text-nowrap">12/11/24 - 06:00 PM</p>
      </div>
      <p class="text-sm text-gray-400">
        Se programó una reunión de comunidad. TEMA A TRATAR: Normas de Comunidad</p>
    </a>

  </section>

</div>
