<article class="px-5 overflow-y-auto border-b border-gray-500 border-opacity-40">

  <a routerLink="../post/1">

    <div class="h-full bg-white rounded-xl max-h-56">
      <img
        src="https://ojo-publico.com/sites/default/files/styles/imagen_745x419/public/2024-03/000921495W.jpg?h=99795127&itok=2r_nviKX"
        alt="" class="object-cover h-full rounded-xl">
    </div>

    <section class="flex items-center my-4 text-sm text-gray-400 gap-x-2">
      <div class="bg-gray-300 rounded-full size-7">
        <img class="object-cover h-full rounded-full"
          src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj"
          alt="">
      </div>
      <p>Miguel Ángel Durán</p> <span>*</span>
      <p>Hace 2 horas</p>
    </section>

    <section>
      <h2 class="font-semibold">Robo en la Calle 5</h2>
      <p class="text-xs text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </section>

    <section class="flex items-center justify-between my-4">
      <a routerLink="" class="flex items-center text-sm gap-x-1" title="Comentarios">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-message-circle text-primary-light size-6">
          <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
        </svg>
        <p>96</p>
      </a>

      <div class="flex items-center gap-x-5">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-bookmark text-primary-light size-6">
            <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
          </svg>
        </button>
      </div>


    </section>
  </a>

  <section class="py-5 space-y-5">
    <div class="flex items-center justify-between">
      <h1 class="font-semibold">Noticias Recientes</h1>
      <a routerLink="../noticias" class="text-sm font-medium text-primary-light">Ver Todo</a>
    </div>

    <article class="flex items-center overflow-x-auto no-scrollbar gap-x-3">
      <!-- Noticias 1 -->
      <div class="px-4 py-2 border border-gray-500 min-w-72 rounded-xl max-w-72 border-opacity-40">
        <div class="w-full h-32 bg-secondary rounded-xl">
          <img src="" alt="">
        </div>
        <section class="flex items-center my-4 text-sm text-gray-400 gap-x-2">
          <div class="bg-gray-300 rounded-full min-w-7 size-7">
            <img class="object-cover h-full rounded-full"
              src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj"
              alt="">
          </div>
          <p class="truncate">Miguel Durán</p> <span>*</span>
          <p class="text-nowrap">Hace 2 h</p>
        </section>
        <section class="space-y-2">
          <h2 class="text-sm font-semibold">Reunión de Seguridad</h2>
          <p class="text-xs text-gray-400">Se llevará a cabo una reunión de seguridad el próximo lunes.</p>
        </section>
        <section class="flex items-center justify-between my-4">
          <a routerLink="" class="flex items-center text-sm gap-x-1" title="Comentarios">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-message-circle text-primary-light size-6">
              <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
            </svg>
            <p>96</p>
          </a>

          <div class="flex items-center gap-x-5">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-bookmark text-primary-light size-6">
                <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
              </svg>
            </button>
          </div>
        </section>
      </div>

      <!-- Noticias 2 -->
      <div class="px-4 py-2 border border-gray-500 min-w-72 rounded-xl max-w-72 border-opacity-40">
        <div class="w-full h-32 bg-secondary rounded-xl">
          <img src="" alt="">
        </div>
        <section class="flex items-center my-4 text-sm text-gray-400 gap-x-2">
          <div class="bg-gray-300 rounded-full min-w-7 size-7">
            <img class="object-cover h-full rounded-full"
              src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj"
              alt="">
          </div>
          <p class="truncate">Miguel Ángel Durán</p> <span>*</span>
          <p class="text-nowrap">Hace 2 h</p>
        </section>
        <section class="space-y-2">
          <h2 class="text-sm font-semibold">Reunión de Seguridad</h2>
          <p class="text-xs text-gray-400">Se llevará a cabo una reunión de seguridad el próximo lunes.</p>
        </section>
        <section class="flex items-center justify-between my-4">
          <a routerLink="" class="flex items-center text-sm gap-x-1" title="Comentarios">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-message-circle text-primary-light size-6">
              <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
            </svg>
            <p>96</p>
          </a>

          <div class="flex items-center gap-x-5">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-bookmark text-primary-light size-6">
                <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
              </svg>
            </button>
          </div>
        </section>
      </div>

      <!-- Noticias 3 -->
      <div class="px-4 py-2 border border-gray-500 min-w-72 rounded-xl max-w-72 border-opacity-40">
        <div class="w-full h-32 bg-secondary rounded-xl">
          <img src="" alt="">
        </div>
        <section class="flex items-center my-4 text-sm text-gray-400 gap-x-2">
          <div class="bg-gray-300 rounded-full min-w-7 size-7">
            <img class="object-cover h-full rounded-full"
              src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj"
              alt="">
          </div>
          <p class="truncate">Miguel Ángel Durán</p> <span>*</span>
          <p class="text-nowrap">Hace 2 h</p>
        </section>
        <section class="space-y-2">
          <h2 class="text-sm font-semibold">Reunión de Seguridad</h2>
          <p class="text-xs text-gray-400">Se llevará a cabo una reunión de seguridad el próximo lunes.</p>
        </section>
        <section class="flex items-center justify-between my-4">
          <a routerLink="" class="flex items-center text-sm gap-x-1" title="Comentarios">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-message-circle text-primary-light size-6">
              <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
            </svg>
            <p>96</p>
          </a>

          <div class="flex items-center gap-x-5">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-bookmark text-primary-light size-6">
                <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
              </svg>
            </button>
          </div>
        </section>
      </div>
    </article>



  </section>
</article>

<article class="flex flex-col border-b border-b-gray-500 border-opacity-40">
  <div class="flex items-center justify-between p-5 gap-x-3">
    <h1 class="font-semibold">Alertas Importantes</h1>
    <a routerLink="../alertas" class="text-sm font-medium text-primary-light">Ver Todo</a>
  </div>

  <a routerLink="/ciudadano/comunidad/1/post/1" class="p-5 hover:bg-secondary">
    <section class="flex items-center text-sm text-gray-400 gap-x-3">
      <a routerLink="/ciudadano/perfil/1" class="bg-gray-400 rounded-full min-w-7 size-7">
        <img src="" alt="">
      </a>
      <a routerLink="/ciudadano/perfil/1" class="font-medium">María Fernandez</a>
      <p>*</p>
      <p class="text-nowrap">Hace 2 horas</p>
    </section>
    <section class="pt-2 space-y-2">
      <h1 class="font-semibold">Alerta de Emergencia</h1>
      <p class="text-sm text-gray-400">Reportó una alerta de emergencia en la calle principal. Manténgase alerta.</p>
      <div class="text-start">
        <a routerLink="" class="text-xs font-medium text-primary-light">Compartir</a>
      </div>
    </section>
  </a>

  <a routerLink="/ciudadano/comunidad/1/post/1" class="p-5 hover:bg-secondary">
    <section class="flex items-center text-sm text-gray-400 gap-x-3">
      <a routerLink="/ciudadano/perfil/1" class="bg-gray-400 rounded-full min-w-7 size-7">
        <img src="" alt="">
      </a>
      <a routerLink="/ciudadano/perfil/1" class="font-medium">Luis Martinez</a>
      <p>*</p>
      <p class="text-nowrap">Hace 2 días</p>
    </section>
    <section class="pt-2 space-y-2">
      <h1 class="font-semibold">Denuncia de Vandalismo</h1>
      <p class="text-sm text-gray-400">Se reportó una denuncia de vandalismo en la zona central. Evite la zona por su
        seguridad.</p>
      <div class="text-start">
        <a routerLink="" class="text-xs font-medium text-primary-light">Compartir</a>
      </div>
    </section>
  </a>

</article>


<section class="fixed flex justify-end w-full bottom-24 right-10">

  <div class="hs-dropdown relative [--placement:top-left] inline-flex">
    <button id="hs-dropup" aria-label="Dropdown" area-expanded="false"
      class="p-2 text-sm text-white rounded-full hs-dropdown-toggle bg-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-plus size-8">
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>
    </button>

    <div
      class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 shadow-md rounded-lg mt-2 bg-secondary"
      role="menu" aria-orientation="vertical" aria-labelledby="hs-dropup">
      <div class="p-1 space-y-0.5">
        <a class="flex items-center px-3 py-2 text-sm rounded-lg gap-x-3 focus:outline-none text-neutral-300 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
          routerLink="../post/generar">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-pencil text-primary-light size-4">
            <path
              d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
            <path d="m15 5 4 4" />
          </svg>
          Realizar publicación
        </a>

        <a class="flex items-center px-3 py-2 text-sm rounded-lg gap-x-3 focus:outline-none text-neutral-300 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
          routerLink="../chat">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-message-circle text-primary-light size-4">
            <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
          </svg>
          Chat de Comunidad
        </a>
      </div>
    </div>
  </div>

</section>
