<style>
  /* START LOADER CSS */
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* END LOADER CSS */
</style>

<div class="flex flex-col h-full gap-6 px-4 py-4">


  <div class="h-[80%] overflow-hidden rounded-xl">

    <div *ngIf="locationLoaded == false" class="flex flex-col items-center justify-center h-full gap-5">
      <span class="loader"></span>
      <small>Cargando mapa...</small>
    </div>

    <div *ngIf="locationLoaded" id="map" class="h-full overflow-hidden text-white border rounded-xl">
    </div>

  </div>

  <a href="" class="flex items-center justify-center gap-3 p-3 text-white rounded-full bg-primary focus:bg-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin">
      <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
      <circle cx="12" cy="10" r="3" />
    </svg>
    <p>Enviar Ubicación</p>
  </a>

</div>
