<section class="p-5">

  <div class="space-y-4 hs-accordion-group">
    <div class="hs-accordion active" id="hs-basic-heading-one">
      <button
        class="inline-flex items-center w-full py-3 font-semibold text-white rounded-lg hs-accordion-toggle hs-accordion-active:text-primary-light gap-x-3 text-start focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="true" aria-controls="hs-basic-collapse-one">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="hs-accordion-active:hidden size-3.5 lucide lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up hs-accordion-active:block hidden size-3.5">
          <path d="m18 15-6-6-6 6" />
        </svg>
        Respetar el Orden Público
      </button>
      <div id="hs-basic-collapse-one"
        class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-one">
        <p class="text-sm text-white">
          La aplicación debe ser utilizada exclusivamente para reportar situaciones reales de emergencia o incidentes
          que afecten la seguridad ciudadana. Esto incluye reportes de robos, agresiones, accidentes, y otras
          situaciones que requieran intervención de las autoridades.
        </p>
      </div>
    </div>

    <div class="hs-accordion" id="hs-basic-heading-two">
      <button
        class="inline-flex items-center w-full py-3 font-semibold text-white rounded-lg hs-accordion-toggle hs-accordion-active:text-primary-light gap-x-3 text-start focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="false" aria-controls="hs-basic-collapse-two">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="hs-accordion-active:hidden size-3.5 lucide lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up hs-accordion-active:block hidden size-3.5">
          <path d="m18 15-6-6-6 6" />
        </svg>
        Prohibición de Reportes Falsos o Fraudulentos
      </button>
      <div id="hs-basic-collapse-two"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-two">
        <p class="text-white">
          Está estrictamente prohibido enviar avisos falsos, fraudulentos o engañosos con el propósito de desinformar o
          generar alarma pública sin causa justificada. Estos reportes serán revisados y, en caso de confirmarse la
          falsedad, el usuario será sancionado.
        </p>
      </div>
    </div>

    <div class="hs-accordion" id="hs-basic-heading-three">
      <button
        class="inline-flex items-center w-full py-3 font-semibold text-white rounded-lg hs-accordion-toggle hs-accordion-active:text-primary-light gap-x-3 text-start focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="false" aria-controls="hs-basic-collapse-three">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="hs-accordion-active:hidden size-3.5 lucide lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up hs-accordion-active:block hidden size-3.5">
          <path d="m18 15-6-6-6 6" />
        </svg>
        Sanciones por Reportes Fraudulentos
      </button>
      <div id="hs-basic-collapse-three"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-three">
        <p class="text-white">
          Si un usuario envía 3 reportes fraudulentos confirmados, su cuenta será baneada temporalmente por un período
          de 30 días. En caso de reincidencia, la suspensión podría ser permanente, a discreción de la administración de
          la aplicación.
        </p>
      </div>
    </div>

    <div class="hs-accordion" id="hs-basic-heading-four">
      <button
        class="inline-flex items-center w-full py-3 font-semibold text-white rounded-lg hs-accordion-toggle hs-accordion-active:text-primary-light gap-x-3 text-start focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="false" aria-controls="hs-basic-collapse-four">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="hs-accordion-active:hidden size-3.5 lucide lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up hs-accordion-active:block hidden size-3.5">
          <path d="m18 15-6-6-6 6" />
        </svg>
        Verificación de Identidad
      </button>
      <div id="hs-basic-collapse-four"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-four">
        <p class="text-white">
          Para evitar abusos, se solicitará la verificación de identidad de los usuarios. Esta verificación podría
          incluye la vinculación de un documento de identidad válido.
        </p>
      </div>
    </div>

    <div class="hs-accordion" id="hs-basic-heading-five">
      <button
        class="inline-flex items-center w-full py-3 font-semibold text-white rounded-lg hs-accordion-toggle hs-accordion-active:text-primary-light gap-x-3 text-start focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="false" aria-controls="hs-basic-collapse-five">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="hs-accordion-active:hidden size-3.5 lucide lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up hs-accordion-active:block hidden size-3.5">
          <path d="m18 15-6-6-6 6" />
        </svg>
        Respeto a la Privacidad y Confidencialidad
      </button>
      <div id="hs-basic-collapse-five"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-five">
        <p class="text-white">
          Los usuarios deben respetar la privacidad de las personas involucradas en los reportes. No se permite el uso
          de la plataforma para divulgar información sensible o confidencial que no sea relevante para la seguridad
          pública
        </p>
      </div>
    </div>

    <div class="hs-accordion" id="hs-basic-heading-six">
      <button
        class="inline-flex items-center w-full py-3 font-semibold text-white rounded-lg hs-accordion-toggle hs-accordion-active:text-primary-light gap-x-3 text-start focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="false" aria-controls="hs-basic-collapse-six">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="hs-accordion-active:hidden size-3.5 lucide lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up hs-accordion-active:block hidden size-3.5">
          <path d="m18 15-6-6-6 6" />
        </svg>
        Contenido Aceptable
      </button>
      <div id="hs-basic-collapse-six"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-six">
        <p class="text-white">
          Los reportes deben estar redactados de manera respetuosa y profesional. Queda prohibido el uso de lenguaje
          ofensivo, discriminatorio, o que incite al odio. Cualquier reporte que incumpla esta norma será eliminado, y
          el usuario podría enfrentar sanciones.
        </p>
      </div>
    </div>

    <div class="hs-accordion" id="hs-basic-heading-seven">
      <button
        class="inline-flex items-center w-full py-3 font-semibold text-white rounded-lg hs-accordion-toggle hs-accordion-active:text-primary-light gap-x-3 text-start focus:outline-none disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="false" aria-controls="hs-basic-collapse-seven">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="hs-accordion-active:hidden size-3.5 lucide lucide-chevron-down">
          <path d="m6 9 6 6 6-6" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-up hs-accordion-active:block hidden size-3.5">
          <path d="m18 15-6-6-6 6" />
        </svg>
        Modificación de Condiciones de Uso
      </button>
      <div id="hs-basic-collapse-seven"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region"
        aria-labelledby="hs-basic-heading-seven">
        <p class="text-white">
          La plataforma se reserva el derecho de actualizar estas normas y condiciones para mejorar la calidad del
          servicio y adaptarse a nuevas circunstancias de seguridad ciudadana en Perú.
        </p>
      </div>
    </div>

  </div>


</section>
