<style>
  input {
    background: #261A18;
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    color: white;
    border: none;
    width: 100%;
  }

</style>

<section class="w-full px-10 py-5 space-y-10">

  <div class="space-y-2 ">
    <p>Nombre:</p>
    <input type="text" class="" placeholder="Ingrese su nombre" value="Miguel Angel Durán">
  </div>

  <div class="space-y-2">
    <p>DNI:</p>
    <input type="text" class="" placeholder="Ingrese su nombre" value="76689574">
  </div>

  <div class="space-y-2">
    <p>Username:</p>
    <input type="text" class="" placeholder="Ingrese su nombre de usuario" value="midudev">
  </div>

  <div class="space-y-2">
    <p>Password:</p>
    <input type="password" class="" placeholder="Ingrese su contraseña" value="Miguel Angel Durán">
  </div>

  <div class="space-y-2">
    <div class="flex flex-col space-y-3">
      <p>Foto:</p>
      <div data-hs-file-upload='{
        "url": "/upload",
        "maxFiles": 1,
        "singleton": true
      }'>
        <template data-hs-file-upload-preview="">
          <div class="flex items-center w-full">
            <span class="overflow-hidden truncate grow-0" data-hs-file-upload-file-name=""></span>
            <span class="grow-0">.</span>
            <span class="grow-0" data-hs-file-upload-file-ext=""></span>
          </div>
        </template>

        <button type="button" class="relative flex w-full overflow-hidden text-sm rounded-lg shadow-sm focus:outline-none focus:z-10 focus:border-0 disabled:opacity-50 disabled:pointer-events-none">
          <span class="h-full px-4 py-2 text-black bg-primary-light text-nowrap">Explorar</span>
          <span class="flex h-full px-4 py-2 overflow-hidden group grow" data-hs-file-upload-previews="">
            <span class="group-has-[div]:hidden">Agregar foto</span>
          </span>
          <span class="absolute top-0 left-0 w-full h-full" data-hs-file-upload-trigger=""></span>
        </button>
      </div>
    </div>
  </div>

  <div class="space-y-2">
    <a routerLink="../" class="flex justify-center w-full text-center rounded-full btn-primary">Guardas cambios</a>
    <a routerLink="../" class="flex justify-center w-full text-center rounded-full btn-secondary">Regresar</a>
  </div>
</section>
