<section class="space-y-5">

  <a routerLink="../post/1" class="flex flex-col px-5 border border-gray-400 border-opacity-40 rounded-xl">

    <section class="flex items-center my-4 text-sm text-gray-400 gap-x-2">
      <div class="bg-gray-300 rounded-full size-7">
        <img class="object-cover h-full rounded-full"
          src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj"
          alt="">
      </div>
      <p>Miguel Ángel Durán</p> <span>*</span>
      <p>Hace 2 horas</p>
    </section>

    <section class="mb-5">
      <h2 class="font-semibold">Robo en la Calle 5</h2>
      <p class="text-xs text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </section>

    <div class="h-full bg-white rounded-xl max-h-56">
      <img
        src="https://ojo-publico.com/sites/default/files/styles/imagen_745x419/public/2024-03/000921495W.jpg?h=99795127&itok=2r_nviKX"
        alt="" class="object-cover h-full rounded-xl">
    </div>

    <section class="flex items-center justify-between my-4">
      <a routerLink="" class="flex items-center text-sm gap-x-1" title="Comentarios">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-message-circle text-primary-light size-6">
          <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
        </svg>
        <p>96</p>
      </a>

      <div class="flex items-center gap-x-5">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-bookmark text-primary-light size-6">
            <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
          </svg>
        </button>
      </div>


    </section>
  </a>

  <a routerLink="../post/1" class="flex flex-col px-5 border border-gray-400 border-opacity-40 rounded-xl">

    <section class="flex items-center my-4 text-sm text-gray-400 gap-x-2">
      <div class="bg-gray-300 rounded-full size-7">
        <img class="object-cover h-full rounded-full"
          src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj"
          alt="">
      </div>
      <p>Miguel Ángel Durán</p> <span>*</span>
      <p>Hace 2 horas</p>
    </section>

    <section class="mb-5">
      <h2 class="font-semibold">Robo en la Calle 5</h2>
      <p class="text-xs text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </section>

    <div class="h-full bg-white rounded-xl max-h-56">
      <img
        src="https://ojo-publico.com/sites/default/files/styles/imagen_745x419/public/2024-03/000921495W.jpg?h=99795127&itok=2r_nviKX"
        alt="" class="object-cover h-full rounded-xl">
    </div>

    <section class="flex items-center justify-between my-4">
      <a routerLink="" class="flex items-center text-sm gap-x-1" title="Comentarios">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-message-circle text-primary-light size-6">
          <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
        </svg>
        <p>96</p>
      </a>

      <div class="flex items-center gap-x-5">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-bookmark text-primary-light size-6">
            <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
          </svg>
        </button>
      </div>


    </section>
  </a>

  <a routerLink="../post/1" class="flex flex-col px-5 border border-gray-400 border-opacity-40 rounded-xl">

    <section class="flex items-center my-4 text-sm text-gray-400 gap-x-2">
      <div class="bg-gray-300 rounded-full size-7">
        <img class="object-cover h-full rounded-full"
          src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj"
          alt="">
      </div>
      <p>Miguel Ángel Durán</p> <span>*</span>
      <p>Hace 2 horas</p>
    </section>

    <section class="mb-5">
      <h2 class="font-semibold">Robo en la Calle 5</h2>
      <p class="text-xs text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </section>

    <div class="h-full bg-white rounded-xl max-h-56">
      <img
        src="https://ojo-publico.com/sites/default/files/styles/imagen_745x419/public/2024-03/000921495W.jpg?h=99795127&itok=2r_nviKX"
        alt="" class="object-cover h-full rounded-xl">
    </div>

    <section class="flex items-center justify-between my-4">
      <a routerLink="" class="flex items-center text-sm gap-x-1" title="Comentarios">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-message-circle text-primary-light size-6">
          <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
        </svg>
        <p>96</p>
      </a>

      <div class="flex items-center gap-x-5">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-bookmark text-primary-light size-6">
            <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
          </svg>
        </button>
      </div>


    </section>
  </a>

  <a routerLink="../post/1" class="flex flex-col px-5 border border-gray-400 border-opacity-40 rounded-xl">

    <section class="flex items-center my-4 text-sm text-gray-400 gap-x-2">
      <div class="bg-gray-300 rounded-full size-7">
        <img class="object-cover h-full rounded-full"
          src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj"
          alt="">
      </div>
      <p>Miguel Ángel Durán</p> <span>*</span>
      <p>Hace 2 horas</p>
    </section>

    <section class="mb-5">
      <h2 class="font-semibold">Robo en la Calle 5</h2>
      <p class="text-xs text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </section>

    <div class="h-full bg-white rounded-xl max-h-56">
      <img
        src="https://ojo-publico.com/sites/default/files/styles/imagen_745x419/public/2024-03/000921495W.jpg?h=99795127&itok=2r_nviKX"
        alt="" class="object-cover h-full rounded-xl">
    </div>

    <section class="flex items-center justify-between my-4">
      <a routerLink="" class="flex items-center text-sm gap-x-1" title="Comentarios">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-message-circle text-primary-light size-6">
          <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
        </svg>
        <p>96</p>
      </a>

      <div class="flex items-center gap-x-5">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-bookmark text-primary-light size-6">
            <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
          </svg>
        </button>
      </div>


    </section>
  </a>

  <a routerLink="../post/1" class="flex flex-col px-5 border border-gray-400 border-opacity-40 rounded-xl">

    <section class="flex items-center my-4 text-sm text-gray-400 gap-x-2">
      <div class="bg-gray-300 rounded-full size-7">
        <img class="object-cover h-full rounded-full"
          src="https://yt3.googleusercontent.com/wpc2B6nslz9DW_pd-KZjlQ26Ds9DLVom3yeMFy87sIZcfZGe7AXVqlZUvP-ePshI7VXvqiDRpWQ=s900-c-k-c0x00ffffff-no-rj"
          alt="">
      </div>
      <p>Miguel Ángel Durán</p> <span>*</span>
      <p>Hace 2 horas</p>
    </section>

    <section class="mb-5">
      <h2 class="font-semibold">Robo en la Calle 5</h2>
      <p class="text-xs text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </section>

    <div class="h-full bg-white rounded-xl max-h-56">
      <img
        src="https://ojo-publico.com/sites/default/files/styles/imagen_745x419/public/2024-03/000921495W.jpg?h=99795127&itok=2r_nviKX"
        alt="" class="object-cover h-full rounded-xl">
    </div>

    <section class="flex items-center justify-between my-4">
      <a routerLink="" class="flex items-center text-sm gap-x-1" title="Comentarios">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-message-circle text-primary-light size-6">
          <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
        </svg>
        <p>96</p>
      </a>

      <div class="flex items-center gap-x-5">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-bookmark text-primary-light size-6">
            <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
          </svg>
        </button>
      </div>


    </section>
  </a>

  <div class="py-5 text-center">
    <button class="text-sm font-medium text-primary-light">Cargas más</button>

  </div>

</section>
