/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0D0502;
  --color-primary: #FF4500;
  --color-secondary: #4E4946;
}

body {
  font-family: Inter, sans-serif;
}
