<div class="px-5">

  <section class="flex flex-col items-center justify-center py-5">
    <div class="text-sm bg-gray-300 rounded-full size-28 ">
      <img src="" alt="">
    </div>
    <p class="pt-5 pb-3">Miguel Ángel Durán</p>
    <div class="text-center">
      <h1 class="text-sm">"Los Pinos de Lambayeque"</h1>
      <a routerLink="/comunidad/buscar" class="text-xs text-primary-light">Cambiar</a>
    </div>
  </section>

  <section>
    <div class="space-y-3">
      <h1 class="py-5 text-lg text-primary-light">Información Personal</h1>

      <div class="flex justify-between text-sm gap-x-3">
        <h1>DNI:</h1>
        <h1>73323509</h1>
      </div>
      <div class="flex justify-between text-sm gap-x-3">
        <h1>USUARIO:</h1>
        <h1>midudev</h1>
      </div>
      <div class="flex justify-between text-sm gap-x-3">
        <h1>CONTRASEÑA:</h1>
        <h1>************</h1>
      </div>
    </div>
  </section>

  <div class="w-full py-10 space-y-3">
    <a routerLink="/ciudadano/perfil/1/editar"
      class="flex justify-center w-full text-sm font-semibold text-white border-0 rounded-full focus:ring-primary btn-primary">Editar perfil</a>

    <button class="flex justify-center w-full text-sm font-semibold text-white border-0 rounded-full focus:ring-0 btn-secondary">
      Cerrar sesión
    </button>
  </div>

</div>
